<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927854419993-1o9cqlstjq9v67t6ed9qfoe3jhci8l35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927854419993-1o9cqlstjq9v67t6ed9qfoe3jhci8l35</string>
	<key>API_KEY</key>
	<string>AIzaSyD6-lN5gIfBTfIosLn0v_d4LAIvGywvkvo</string>
	<key>GCM_SENDER_ID</key>
	<string>927854419993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doubleyolk.codingchallenge</string>
	<key>PROJECT_ID</key>
	<string>coding-challenge-a4e81</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-challenge-a4e81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927854419993:ios:5db9c164dd841054814a88</string>
</dict>
</plist>